<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <% include ./partials/navbar %>
            <%- body %>
    </div>
</body>

<% include ./partials/footer %>
</html>